<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"main-content-width-wrapper","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group main-content-width-wrapper">
  <!-- wp:group {"className":"page-content","layout":{"type":"constrained"}} -->
  <div class="wp-block-group page-content">
    <!-- wp:heading {"level":1,"className":"page-title"} -->
    <h1 class="wp-block-heading page-title">Not Found</h1>
    <!-- /wp:heading -->

    <!-- wp:heading {"level":2} -->
    <h2 class="wp-block-heading">Hum dit is een niet goed!</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>De pagina die u zoekt bestaat niet.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
