<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main-content-width-wrapper","layout":{"type":"constrained"}} -->
<main class="wp-block-group main-content-width-wrapper">
  <!-- wp:group {"className":"index-entry","layout":{"type":"constrained"}} -->
  <div class="wp-block-group index-entry">
    <!-- wp:post-title {"level":1} /-->

    <!-- wp:group {"className":"main-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group main-content">
      <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
