<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"anchor":"main","className":"main-content-width-wrapper","layout":{"type":"constrained"}} -->
<div id="main" class="wp-block-group main-content-width-wrapper">
  <!-- wp:columns {"className":"two-column-entry"} -->
  <div class="wp-block-columns two-column-entry">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:group {"tagName":"main","className":"main-content","layout":{"type":"constrained"}} -->
      <main class="wp-block-group main-content">
        <!-- wp:post-title {"level":1} /-->

        <!-- wp:post-content /-->
      </main>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->

    <!-- wp:sidebar {"id":"main-sidebar","className":"sidebar widget-area"} /-->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
